@import "../../global.scss";



.portfolioList{
    font-size: 25px;
    margin: 25px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    color: $mainColor;
    
    @include mobile{
        font-size: 20px;
        margin: 10px 0;
        
    }

    &.active{
        background-color: rgb(143, 173, 188);
        color: white;
    }
}